.ai-image {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 30px;
    padding: 20px;  
    background: #1a1a1a;  
    border-radius: 10px;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.header {
    text-align: center;
    color: #ffffff;  
}

.header h1 span {
    color: #DE1B89;
    margin-right: 10px;
}

.header p {
    margin-top: 0;
    font-size: 24px;  
    font-weight: 400;  
}

.image-loading {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.image-loading img {
    width: 100%;
    max-width: 512px;
    height: auto;
    border-radius: 10px;  
    transition: transform 0.2s ease;  
}

.image-loading img:hover {
    transform: scale(1.05);  
}

.search-box {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 60px;  
    justify-content: space-between; 
    align-items: center;
    border-radius: 50px;
    background: #212121;
    padding: 10px;  
}

.search-box .search-input {
    width: 100%;
    max-width: 800px;
    height: 50px;
    background: transparent;
    border: 2px solid #DE1B89;  
    border-radius: 25px;  
    outline: none;
    font-size: 18px;
    color: white;
    padding: 0 15px;  
}

.search-input::placeholder {
    color: #cccccc;  
}

.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;  
    width: 60px;
    border-radius: 50%; 
    background: #DE1B89; 
    transition: background 0.3s ease; 
}

.generate-btn:hover {
    background: #b3156d; 
    cursor: pointer;
}

.generate-btn:active {
    transform: scale(0.9);
}
